@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@500;700&display=swap");

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

/* CSS HEX */
:root {
	--midnight-violet: #242038ff;
	--slate-blue: #725ac1ff;
	--soft-periwinkle: #8d86c9ff;
	--pale-slate: #cac4ceff;
	--linen: #f7ece1ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: var(--midnight-violet);
	height: 100%;
	width: 100%;
	font-family: "Inter", sans-serif;
}

nav {
	position: relative;
	background-color: var(--pale-slate);
	height: 5rem;
	width: 100vw;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 16px 4px var(--slate-blue);
}

.taskly-logo {
	position: absolute;
	background-image: url(src/Group\ 3.svg);
	background-size: cover;
	height: 62px;
	width: 13em;
	padding-top: 12px;
	margin: 0px 12px;
}

#heading {
	text-align: center;
}

#heading h1 {
	font-size: 2.5rem;
	margin-top: 30px;
	color: var(--linen);
}

#heading h1 span {
	color: var(--pale-slate);
}

#main {
	height: 68vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

#main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 92%;
	height: 100%;
	background-color: var(--pale-slate);
	border-radius: 30px;
}

.input-fields {
	display: flex;
	gap: 30px;
	margin: 20px;
	font-size: 2.4rem;
}

.input-fields input {
	border: none;
	border-radius: 8px;
	font-size: 1.3rem;
}

.input-fields > .input-title {
	padding: 10px 8px;
}

.input-fields > .input-detail {
	padding: 10px 108px;
}

.add-task {
	background-color: var(--slate-blue);
	padding: 8px 24px;
	border-radius: 0 14px 14px 0;
}
