/* CSS HEX */
:root {
	--midnight-violet: #242038ff;
	--slate-blue: #725ac1ff;
	--soft-periwinkle: #8d86c9ff;
	--pale-slate: #cac4ceff;
	--linen: #f7ece1ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: var(--midnight-violet);
	height: 100%;
	width: 100%;
}

nav {
	position: relative;
	background-color: var(--pale-slate);
	height: 5rem;
	width: 100vw;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 16px 4px var(--slate-blue);
}

.taskly-logo {
	position: absolute;
	background-image: url(src/Group\ 3.svg);
	background-size: cover;
	height: 62px;
	width: 13em;
	padding-top: 12px;
	margin: 0px 12px;
}
